{% extends 'base.html.twig' %}

{% block title %} Update Plat {% endblock %}

{% block prix %}

  <h1>Plat Güncelle</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end (form) }}

{% endblock %}